.flex_order {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 5%;

}

.type {
    padding-left: 10px;
    padding-right: 10px;
}

.check {
    padding-right: 10px;
}